.page-banner-layout {
  .page-banner {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, $blue-4 0%, $purple-1 100%);
    height: 240px;
  }

  .page-banner-content {
    margin-top: -200px;
  }
}

.page-header {
  min-height: 240px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, $blue-4 0%, $purple-1 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;

  .page-header__title h1 {
    color: #ffffff;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 44px;
    line-height: 48px;
    font-weight: 200;
    text-align: center;
  }
}

.page-body {
  padding-top: 40px;
  padding-bottom: 40px;

  .page-section {
    padding: 0 20px;

    &__description {

      h2 {
        font-weight: 400;
        margin-top: 0;
      }

      ul {
        list-style: none;
      }

      .call-to-action {
        text-align: center;
        margin: 40px;

        a {
          font-family: 'Roboto', Arial, sans-serif;
          display: inline-block;
          font-size: 13px;
          letter-spacing: 1px;
          text-decoration: none;
          height: 40px;
          line-height: 40px;
          padding: 0 25px;
          background-color: #3D68FF;
          color: white;
          border-radius: 20px;
          border: 1px solid #3D68FF;
          text-transform: uppercase;        }
      }
    }
  }
}
